[ req ]
default_bits           = 1024
days                   = 999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no

[ req_distinguished_name ]
C                      = US
ST                     = CA
L                      = SF
O                      = Levelweb
OU                     = Node.js
CN                     = localhost
emailAddress           = paolo@async.ly

[ req_attributes ]
challengePassword              = A challenge password