
/*
 * Font niceness
 */

@import url(../webfonts/ss-standard.css);

@font-face {
  font-family: 'ProximaNova Italic';
  src: url("../webfonts/ProximaNova-RegItalic.otf") format('opentype');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova Regular';
  src: url("../webfonts/ProximaNova-Regular.otf") format('opentype');
  font-weight: medium;
  font-style: normal;
}

html, body {
  overflow: hidden;
  height:100%;
  margin:0;
  font-family: 'ProximaNova Regular';
}

hr {
  height: 1px;
  border: none;
  border-bottom: 1px dotted #ddd;
}

p {
  line-height: 18px;
}

p b {
  font-family: 'Courier New';
}

/*
 * Clearfix
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*
 * Login
 */

#loginPanel {
  width: 300px;
  margin: 10% auto;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.075);
  padding: 40px;
}

#loginPanel .add-on {
  min-width: 80px;
}

#loginPanel input {
  width: 200px;
}

#hello div {
  color: #666;
  text-align: center;
}

#hello .name {
  position: relative;
  font-size: 30px;
  margin-bottom: 30px;
}

#hello .ss-icon {
  font-size: 60px;
}

/*
 * Headers
 */

header {
  -webkit-user-select: none;
  height: 95px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

header .nav-item {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

header nav.primary {
  background-color: #666;
  padding: 2px;
  height: 25px;
}

header nav.secondary {
  margin: 10px;
}

header nav ul {
  margin: 4px;
  padding: 0;
  list-style-type: none;
  line-height: 18px;
}

header nav ul li {
  float: left;
  border-color: red;
  margin-right: 8px;
  color: #fff;
}

header nav ul li:first-of-type {
  color: #999;
}

.border-right {
  border-right: 1px dotted #aaa;
  padding-right: 40px;
}

.radio-nav + label {
  color: #666;
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  font-size: 12px;
}

.radio-nav + label .ss-icon {
  margin: auto;
  font-size: 25px;
  width: 30px;
}

.radio-nav:checked + label {
  color: #3c7cd4;
}

.radio-nav {
  -webkit-user-select: none;
  display: none;
}

/*
 * General layout stuff
 */

.main-container {
  
  position: absolute;
  top: 100px;
  bottom: 10px;
  right: 0px;
  left: 0px;
}

.left {
  width: 400px;
  position: absolute;
  padding: 0px;
  bottom: 0px;
  top: 0px;
}

.left > .input {
  margin: 8px 8px 4px 8px;
}

.right {
  position: absolute;
  right: 10px;
  left: 425px;
  top: 10px;
  bottom: 0px;
  border-radius: 1px;
  border: 1px solid #ddd;

  overflow: scroll;
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


/*
 * Settings stuff.
 */

.input-top .input-container {
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 10px;
  -webkit-user-select: text !important;
}

.input-top textarea {
  height: 200px;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

#copy-cert {
  position: absolute;
  right: 10px;
  bottom: 10px;
}


/*
 * Visualization stuff.
 */

.panel {
  padding: 10px;
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 400;
}

.options {
  display: none;
  position: absolute;
  margin: 40px;
  top: 0px;
  right: 0px;
  left: 0px;  
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.075);
  z-index: 5000;
  background-color: #fff;
  padding: 0 15px 15px;
}

.options .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  height: auto;
  font-size: 15px;
  color: #666;
  display: inline;
  text-align: center;
  cursor: pointer;
}

.options .input input {
  width: auto;
}

#visualizations .left {
  top: 10px;
  width: 200px;
}

#visualizations .right {
  left: 225px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.visualization {
  display: none;
}

.visualization:target {
  display: block;
}

.visualization .container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#visualizations h2 {
  font-size: 14px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

#visualizations h2.primary span {
  margin: 4px;
  font-size: 12px;
}

.links-container {
  position: relative;
  overflow: visible;
}

.links-container:hover .configure {
  display: block;
}

.links-container a.secondary {
  display: block;
  position: relative;
  margin-top: 8px;
  color: #666;
  cursor: pointer;
  padding: 2px;
  padding-right: 8px;
}

.links-container a.secondary:hover .delete,
.links-container a.secondary:hover {
  color: #3c7cd4;
  display: block;
}

.links-container a.secondary.selected {
  color: #3c7cd4;
}

.links-container a.secondary .delete {
  display: none;
  color: #666;
  position: absolute;
  right: 0px;
  top: 2px;
  padding-left: 4px;
  background-color: #fff;
}

.configure {
  display: none;
  position: absolute;
  top: -2px;
  right: -2px;
  border: none;
  color: #3c7cd4;
  background: transparent;
  cursor: pointer;
}

#visualizations .links {
  display: none;
  margin: 10px 6px 0px 20px;
  font-size: 12px;
}

#visualizations .links-container:hover h2,
#visualizations .links-container.selected h2 {
  color: #3c7cd4;
}

p {
  text-decoration: none;
  font-size: 12px;
  color: #999;
  padding-right: 10px;
}

#visualizations #currentKey {
  height: 25px;
  width: auto;
  font-size: 14px;
  color: #888;
  margin: 5px;
  position: absolute;
  z-index: 50000;
  font-family: 'Courier New';
  background-color: #fff;
}

.axis text {
  font: 10px sans-serif;
  color: #aaa;
}

.axis path,
.axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.areachart text {
  text-anchor: end;
}

.bar {
  fill: steelblue;
}

/*
 * Key Lists 
 */

#keyListContainer {
  
  position: absolute;
  width: 400px;
  top: 95px;
  left: 10px;
  bottom: 40px;
  border-radius: 1px;
  border: 1px solid #ddd;
}

#keyListContainer.extended-options {
  top: 135px;
}

#key-management-controls {
  position: absolute;
  right: 10px;
  bottom: 0px;
  top: none;
}

#keyList {

  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #666;

  font-family: 'Courier New';
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#keyContainer option {
  font-size: 2em;
}

#endKeyContainer {
  display: none;
}

.inline-block {
  display: inline-block;
}

.input-check {
  top: -5px;
  position: relative;
}

#query {
  padding: 10px;
}

#limit {
  width: 80px;
}

label {
  display: inline;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
  text-align: center;
  color: #666;
  z-index: 200;
}

.overlay h1 {
  margin-top: 100px;
}

#veryLarge {
  display: none;
}

/*
 * Various input styling
 */

.checkbox {
  -webkit-user-select: none;
  display: none;
}

.button,
.checkbox + label {

  cursor: pointer;
  position: relative;
  color: #666;
  background-color: #fff;

  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 5px 10px 5px 10px;
  border-radius: 1px;

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.checkbox:checked + label {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.button.submit {
  color: #fff;
  float: right;
  border: 1px solid #3c7cd4;
  box-shadow: none;
  background: rgb(93,144,211); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(93,144,211,1) 0%, rgba(60,124,212,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(93,144,211,1)), color-stop(100%,rgba(60,124,212,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(93,144,211,1) 0%,rgba(60,124,212,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(93,144,211,1) 0%,rgba(60,124,212,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(93,144,211,1) 0%,rgba(60,124,212,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(93,144,211,1) 0%,rgba(60,124,212,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d90d3', endColorstr='#3c7cd4',GradientType=0 ); /* IE6-9 */
}

.button.pull-right {
  float: right;
}

.button.pull-middle {
  margin: auto;
  display: block;
}

.button .ss-icon {
  margin-top: 2px;
}

.checkbox + label {
  top: 5px;
}

.checkbox:checked + label {
  background-color: #e9ecee;
  color: #3c7cd4;
}

.input-top {
  width: 100%;
  display: inline-block;
  margin-bottom: 4px;
  position: relative;
  overflow: visible;
}

.input-top .add-on {
  color: #666;
  display: block;
  height: 18px;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  text-shadow: 0 1px 0 #ffffff;
  margin-bottom: -1px;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

.input {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
}

.input .add-on {
  display: inline-block;
  min-width: 45px;
  width: auto;
  height: 18px;
  padding: 4px 5px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  margin-right: -1px;
  border-radius: 1px;
  -webkit-transition: border linear 0.1s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.1s, box-shadow linear 0.2s;
  -o-transition: border linear 0.1s, box-shadow linear 0.2s;
  transition: border linear 0.1s, box-shadow linear 0.2s;
  -webkit-transition: background linear 0.1s, box-shadow linear 0.2s;
  -moz-transition: background linear 0.1s, box-shadow linear 0.2s;
  -o-transition: background linear 0.1s, box-shadow linear 0.2s;
  transition: background linear 0.1s, box-shadow linear 0.2s;
}

.input input {
  display: inline-block;
  width: 345px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  font-size: 14px;
  float: none;
  margin-left: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.1s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.1s, box-shadow linear 0.2s;
  -o-transition: border linear 0.1s, box-shadow linear 0.2s;
  transition: border linear 0.1s, box-shadow linear 0.2s;
  line-height: 24px;
  color: #555555;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  padding-left: 4px;
  outline: none;
}

input, textarea {
  font-family: 'Courier New';
}

.invalid input {
  border: 1px solid #f56767;
}

.invalid .add-on, .invalid.tag {
  background-color: #f56767 !important;
  border-color: #f56767 !important;
  color: #fff !important;
  text-shadow: none;
}

select.button {
  -webkit-appearance: none;
  position: relative;
  font-size: 12px;
  padding-right: 25px;
}

.custom-select {
  display: inline-block;
  position: relative;
  -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
}

.custom-select:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  font-size: 60%;
  line-height: 30px;
  padding: 0 7px;
  color: #666;
 }

/*
 * Codemirror overrides
 */

.CodeMirror {
  height: auto !important;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 99em;
  margin-left: 2px;
}

.CodeMirror-selected { background: #eee; }
.CodeMirror-focused .CodeMirror-selected { background: #eee; }
.cm-s-default .cm-string {color: #3c7cd4 !important;}
.cm-s-default .cm-string-2 {color: #3c7cd4 !important;}

svg {
  cursor: default;
}
