section.connections
  background: #fafafa
  position: absolute
  top: 80px
  bottom: 0
  left: 0
  right: 0
  margin: 0 auto

  .connection-options
    display: block
    padding: 15%
    position: relative
    height: auto 

    .option
      position: relative
      height: 80px
      display: block

      input[type="text"]
        width: 80%

      input[type="button"]
        margin-left: -2px

    .heading
      height: 50px
      display: block

      h2
        margin: 0
        font-family: $font-proxima 

      h2, .large-icon
        float: left

      .large-icon
        line-height: 10px
        padding-right: 20px

