header
  -webkit-app-region: drag
  -webkit-user-select: none
  cursor: default
  
  color: white
  background-color: #666

  width: 100%
  height: 80px
  display: table
  margin: 0 auto

  ul.horizontal
    padding: 0
    margin: auto
    height: inherit
    min-width: 696px
    list-style: none

    li
      display: inline

      a, a:hover
        -webkit-app-region: no-drag
        position: relative
        display: inline-block
        margin: 25px
        font-size: 25px
        color: white
        text-decoration: none

        &.active:after
          top: 100%
          left: 50%
          border: solid transparent
          content: " "
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          border-color: rgba(255, 255, 255, 0)
          border-bottom-color: #fafafa
          border-width: 10px
          margin-left: -10px
 
