section.put
  background: #ededed
  position: absolute
  top: 80px
  bottom: 0
  left: 0
  right: 0

  .key
    position: absolute
    top: 70px
    left: 0
    right: 0
    height: 100px

  .value
    position: absolute
    top: 180px
    bottom: 0
    left: 0
    right: 0

