section.query
  position: absolute
  top: 80px
  bottom: 0px
  right: 0px
  left: 0px
  background: #fafafa

  [name="upper-bound"],
  [name="lower-bound"]
    min-width: 22px
    width: 22px

  .tree-container
    background: white
    position: absolute
    top: 70px
    bottom: 25px
    left: 25px
    width: 300px
    overflow: auto
 
    input.active + label
      color: #468DC9

  .results
    position: absolute
    top: 70px
    bottom: 25px
    right: 25px
    left: 25px
    z-index: 10
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    transition all 0.3s

    &.open
      left: 350px

    .splitx
      position: absolute
      top: 0px
      bottom: 0px
      left: 300px
      width: 10px
      background: #fafafa
      cursor: ew-resize
      z-index: 2

    .keys
      position: absolute
      top: 0px
      left: 0px
      width: 300px
      bottom: 0px
      z-index: 1

      select
        position: absolute
        top: 0
        bottom: 0
        left: 0px
        width: 100%
        outline: none
        border: none

        option
          padding: 8px
          font-size: 12px

    .value
      position: absolute
      top: 0
      left: 300px
      right: 0
      bottom: 0px
      z-index: 1


