section.query

  [name="upper-bound"],
  [name="lower-bound"]
    min-width: 22px
    width: 22px

  .results
    position: absolute
    top: 150px
    bottom: 0px
    right: 0px
    left: 0px

    .split
      position: absolute
      top: 0px
      bottom: 0px
      left: 300px
      width: 10px
      background: #fafafa
      cursor: ew-resize
      z-index: 2

    .keys, values
      position: absolute
      top: 0px
      left: 0px
      width: 300px
      bottom: 0px
      z-index: 1

    .values
      left: 200px
      right: 0px
