section.query

  [name="upper-bound"],
  [name="lower-bound"]
    min-width: 22px
    width: 22px
  
  input.delete
      display: none

  .results
    position: absolute
    top: 150px
    bottom: 0px
    right: 0px
    left: 0px

    .split
      position: absolute
      top: 0px
      bottom: 0px
      left: 300px
      width: 10px
      background: #fafafa
      cursor: ew-resize
      z-index: 2

    .keys
      position: absolute
      top: 0px
      left: 0px
      width: 300px
      bottom: 0px
      z-index: 1

      select
        position: absolute
        top: 0
        bottom: 0
        left: 0
        width: 100%
        outline: none
        border: none

        option
          padding: 8px
          font-size: 12px

    .value
      position: absolute
      top: 0
      left: 300px
      right: 0
      bottom: 0
      z-index: 1

.CodeMirror
  height: auto !important
  font-size: 14px

.CodeMirror-scroll
  overflow-y hidden
  overflow-x auto

.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error
  height 10px
  width 10px
  background-color red
  border-radius 99em
  margin-left 2px

.CodeMirror-focused
  .CodeMirror-selected
    background: $blue

.CodeMirror-selected
  background-color: $blue

.CodeMirror-gutters
  background-color: #fafafa
  border: none

.cm-s-default
  .cm-string
    color #3c7cd4 !important
  .cm-string-2
    color #3c7cd4 !important

