section.settings

  h2
    padding 20px
    margin 0
    background #fafafa

  .controls
    background white

  label 
    min-width 150px
    display inline-block

  .custom + label
    width 180px

