html
  head
    link(rel='stylesheet', href='../css/codemirror.css')
    link(rel='stylesheet', href='../css/lint.css')
    link(rel='stylesheet', href='../css/index.css')
    script(src='../../client.js')
  body
    header
      ul.horizontal
        li
          a.active.ss-icon.connections(h='h', ref='#') database
        li
          a.ss-icon.query(href='#') search
        li
          a.ss-icon.put(href='#') pencil
        li
          a.ss-icon.settings(href='#') cog

