.modal
  .modal-content
    h3 Modal Dialog
    div
      p This is a modal window. You can do the following things with it:
      ul
        li
          strong Read:
          | Modal windows will probably tell you something important so don't forget to read what it says.
        li
          strong Look:
          | modal windows enjoy a certain kind of attention; just look at it and appreciate its presence.
        li
          strong Close:
          | click on the button below to close the modal.
      button.modal-close Close me!

