/*------------------------------------------------------------------------------
*
*  Variables
*
------------------------------------------------------------------------------*/

/* Font Families */

$font-Carrois = "Carrois Gothic SC", sans-serif
$font-Lora = "Lora", serif

/* Font Weights */

$font-weight-regular = 400
$font-weight-bold = 800

/* Font Sizes */

$font-size-base = 1rem /* 16px */
$font-size-small = .8125rem /* 13px */
$font-size-large = 1.25rem /* 20px */
$font-size-mega =  2.25rem /* 36px */

$font-size-h1 = 2.5rem /* 40px */
$font-size-h2 = 2rem /* 32px */
$font-size-h3 = 1.5rem /* 24px */
$font-size-h4 = 1.125rem /* 18px */

/* Line Heights */

$line-height-base = 1.25
$line-height-headings = 1

/* Colors */
$dark-gray = rgba(0, 0, 0, 0.8)
$blue = #4A90E2
$sky-blue-dark = #0c1426
$cryogenic-blue = #00AEB2

$phase-yellow = #F7CF07
$legal-blue = #4A90E2

$space-gray = #415160
$space-gray-light = lighten($space-gray, 50%)
$space-gray-lighter = lighten($space-gray, 85%)

/* Responsive Breakpoints */

