.CodeMirror
  height: auto !important
  font-size: 14px

.CodeMirror-scroll
  overflow-y hidden
  overflow-x auto

.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error
  height 10px
  width 10px
  background-color red
  border-radius 99em
  margin-left 2px

.CodeMirror-focused
  .CodeMirror-selected
    background: $blue

.CodeMirror-selected
  background-color: $blue

.CodeMirror-gutters
  background-color: #ededed
  border: none

.cm-s-default
  .cm-string
    color #3c7cd4 !important
  .cm-string-2
    color #3c7cd4 !important

