.controls
  -webkit-user-select: none
  display: block
  height: 70px
  padding-left: 16px
  background: #fafafa

  .control
    margin: 20px 8px
    display: inline-block

    [name="limit"]
      width: 50px

