.controls
  -webkit-user-select none
  display block
  position relative
  padding-left 16px

  &.top
    background #fafafa
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.2)
    z-index: 100

  .control
    padding 20px 8px
    display inline-block

    &.half
      width 50%

    [name="limit"]
      width 50px

