.controls
  -webkit-user-select none
  display block
  height 70px
  padding-left 16px
  background #fafafa

  .control
    padding 20px 8px
    display inline-block

    &.half
      width 50%

    [name="limit"]
      width 50px

