/*------------------------------------------------------------------------------
*
*  Index
*
------------------------------------------------------------------------------*/
@import url("../webfonts/ss-standard.css");
@font-face {
  font-family: 'ProximaNova Italic';
  src: url("../webfonts/ProximaNova-RegItalic.otf") format('opentype');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova Regular';
  src: url("../webfonts/ProximaNova-Regular.otf") format('opentype');
  font-weight: medium;
  font-style: normal;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  background: #4a90e2;
  color: #fff;
}
html {
  font-size: 100%;
}
body {
  font: 400 1rem/1.5 $font-Lora;
  background-color: #fff;
  color: #415160;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  overflow: hidden;
  passing: 0px;
}
p {
  font-family: sans-serif;
}
header {
  font: 400 1rem/1.5 $font-Carrois;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
a,
a:focus,
a:visited {
  text-decoration: none;
  cursor: pointer;
}
.content a:not(.button),
.content a:focus:not(.button),
.content a:visited:not(.button) {
  color: #00aeb2;
}
a:not(.button):hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4 {
  margin: 2.5rem 0;
  line-height: 1;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  margin-top: 0;
  font-size: 2rem;
}
h3 {
  margin-bottom: 0;
  color: #8397ab;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -25px;
  padding-bottom: 25px;
}
h4 {
  font-size: 1.125rem;
}
ul {
  list-style-type: none;
}
ul.unstyled {
  list-style-type: none;
  padding: 0;
}
ul.numbered {
  list-style-type: none;
  counter-reset: count-list-items;
}
ul.numbered li {
  position: relative;
  counter-increment: count-list-items;
}
ul.numbered li:not(:last-child) {
  padding-bottom: 1.5rem;
}
ul.numbered li:before {
  content: counter(count-list-items);
  position: absolute;
  left: -2.5rem;
  top: 0;
  height: 1.875rem;
  width: 1.875rem;
  padding-top: 0.3rem;
  border-radius: 100%;
  color: #97a8b9;
  border: 1px solid #e0e5ea;
  text-align: center;
  font-size: 0.8125rem;
  background-image: linear-gradient(90deg, rgba(224,229,234,0.3), #fff);
  background-image: -webkit-linear-gradient(90deg, rgba(224,229,234,0.3), #fff);
}
.content {
  margin: 0 auto;
}
.content section {
  padding: 3.5rem 0;
  position: relative;
}
@media $mobile-devices {
  .content section {
    padding: 1.5rem 0;
  }
}
.content section:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 1px;
  width: 30%;
  margin-left: -15%;
  background: #e0e5ea;
}
.content section h3 + p {
  margin-top: 0.3125rem;
}
.single-column h3:first-of-type {
  margin-top: 0;
}
.large-icon {
  font-size: 40px;
  display: inline-block;
  position: relative;
  top: 14px;
}
.tree ul,
.tree li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tree {
  font: normal 16px "ProximaNova Regular", Arial, Sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.tree input {
  position: absolute;
  opacity: 0;
}
.tree input + label + ul {
  margin: 0 0 0 22px;
}
.tree input ~ ul {
  display: none;
}
.tree input:disabled + label {
  cursor: default;
  opacity: 0.6;
}
.tree input:checked:not(:disabled) ~ ul {
  display: block;
}
.tree input:checked + label::before {
  font-family: "SSStandard";
  content: 'navigateup';
}
.tree a {
  color: #00f;
  text-decoration: none;
}
.tree a:hover {
  text-decoration: underline;
}
.tree label::before {
  content: "";
  width: 16px;
  vertical-align: middle;
  background-position: 0 -32px;
}
.tree label,
.tree label::before {
  font-family: "SSStandard";
  cursor: pointer;
  content: "folder";
}
.tree label,
.tree a,
.tree label::before {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  margin: 10px;
}
.tree label {
  font-family: "ProximaNova Regular";
}
label.custom-select {
  position: relative;
  font-family: "ProximaNova Regular";
  display: inline-block;
}
.custom-select {
  transition: all 0.3;
}
.custom-select select {
  font-family: "ProximaNova Regular";
  min-width: 100px;
  display: inline-block;
  border: 2px solid #ccc;
  padding: 4px 3px 3px 5px;
  margin: 0;
  font: inherit;
  outline: none;
  line-height: 1.2;
  background: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.custom-select:after {
  font-family: "SSStandard";
  content: "navigatedown";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 34px;
  padding: 0 7px;
  background: #ccc;
  color: #415160;
  pointer-events: none;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.no-pointer-events .custom-select:after {
  content: none;
}
[type="button"],
[type="text"] {
  -webkit-user-select: none;
  font: inherit;
  font-family: "ProximaNova Regular";
  min-width: 100px;
  display: inline-block;
  border: 2px solid #ccc;
  padding: 4px 3px 3px 5px;
  margin: 0;
  outline: none;
  line-height: 1.2;
  background: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  transition: all 0.1s ease-in;
  border-radius: 2px;
}
[type="text"]:focus {
  transition: all 0.2s;
}
[type="button"] {
  font: inherit;
  font-family: "ProximaNova Regular";
  color: #415160;
  background: #ccc;
  padding: 5px;
}
[type="button"]:hover {
  transition: all 0.2s ease-in;
  background: #c2c2c2;
}
[type="button"]:disabled {
  opacity: 0.4;
}
[type="button"].ss-icon {
  font-family: "SSStandard";
  line-height: 10px;
  padding: 10px 0px 6px 0px;
  top: 3px;
  position: relative;
  min-width: 35px;
  max-width: 35px;
}
[type="checkbox"].custom:not(:checked),
[type="checkbox"].custom:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"].custom:not(:checked) + label,
[type="checkbox"].custom:checked + label {
  font-family: "ProximaNova Regular";
  position: relative;
  padding: 7px 10px 7px 40px;
  color: #415160;
  cursor: pointer;
  background: #ccc;
  border-radius: 2px;
  height: 30px;
}
[type="checkbox"].custom:not(:checked) + label:before,
[type="checkbox"].custom:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 2px;
}
[type="checkbox"].custom:not(:checked) + label:after,
[type="checkbox"].custom:checked + label:after {
  content: "check";
  font-family: "SSStandard";
  position: absolute;
  top: 6px;
  left: 8px;
  line-height: 20px;
  font-size: 14px;
  color: #4a90e2;
  transition: all 0.2s;
}
[type="checkbox"].custom:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"].custom:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"].custom:disabled:not(:checked) + label:before,
[type="checkbox"].custom:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"].custom:checked:focus + label:before,
[type="checkbox"].custom:not(:checked):focus + label:before {
  transition: all 0.1s ease-in;
}
.controls {
  -webkit-user-select: none;
  display: block;
  height: 70px;
  padding-left: 16px;
  background: #fafafa;
}
.controls .control {
  margin: 20px 8px;
  display: inline-block;
}
.controls .control [name="limit"] {
  width: 50px;
}
.CodeMirror {
  height: auto !important;
  font-size: 14px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-lint-marker-error,
.CodeMirror-lint-message-error {
  height: 10px;
  width: 10px;
  background-color: #f00;
  border-radius: 99em;
  margin-left: 2px;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #4a90e2;
}
.CodeMirror-selected {
  background-color: #4a90e2;
}
.CodeMirror-gutters {
  background-color: #fafafa;
  border: none;
}
.cm-s-default .cm-string {
  color: #3c7cd4 !important;
}
.cm-s-default .cm-string-2 {
  color: #3c7cd4 !important;
}
header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: default;
  color: #fff;
  background-color: #666;
  width: 100%;
  height: 80px;
  display: table;
  margin: 0 auto;
}
header ul.horizontal {
  padding: 0;
  margin: auto;
  height: inherit;
  min-width: 696px;
  list-style: none;
}
header ul.horizontal li {
  display: inline;
}
header ul.horizontal li a,
header ul.horizontal li a:hover {
  -webkit-app-region: no-drag;
  display: inline-block;
  margin: 24px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
section.query {
  position: absolute;
  top: 80px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #fafafa;
}
section.query [name="upper-bound"],
section.query [name="lower-bound"] {
  min-width: 22px;
  width: 22px;
}
section.query .tree-container {
  background: #fff;
  position: absolute;
  top: 70px;
  bottom: 25px;
  left: 25px;
  width: 300px;
  overflow: auto;
}
section.query .tree-container input.active + label {
  color: #468dc9;
}
section.query .results {
  position: absolute;
  top: 70px;
  bottom: 25px;
  right: 25px;
  left: 25px;
  z-index: 10;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
section.query .results.open {
  left: 350px;
}
section.query .results .splitx {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 300px;
  width: 10px;
  background: #fafafa;
  cursor: ew-resize;
  z-index: 2;
}
section.query .results .keys {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  bottom: 0px;
  z-index: 1;
}
section.query .results .keys select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 100%;
  outline: none;
  border: none;
}
section.query .results .keys select option {
  padding: 8px;
  font-size: 12px;
}
section.query .results .value {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0px;
  z-index: 1;
}
section.put {
  background: #fafafa;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}
section.put .key {
  position: absolute;
  top: 70px;
  left: 0;
  right: 25px;
  height: 100px;
}
section.put .value {
  position: absolute;
  top: 180px;
  bottom: 25px;
  left: 0;
  right: 25px;
}
section.connections {
  background: #fafafa;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
section.connections .connection-options {
  display: block;
  padding: 15%;
  position: relative;
  height: auto;
}
section.connections .connection-options .option {
  position: relative;
  height: 80px;
  display: block;
}
section.connections .connection-options .option input[type="text"] {
  width: 80%;
}
section.connections .connection-options .option input[type="button"] {
  margin-left: -2px;
}
section.connections .connection-options .heading {
  height: 50px;
  display: block;
}
section.connections .connection-options .heading h2 {
  margin: 0;
  font-family: "ProximaNova Regular";
}
section.connections .connection-options .heading h2,
section.connections .connection-options .heading .large-icon {
  float: left;
}
section.connections .connection-options .heading .large-icon {
  line-height: 10px;
  padding-right: 20px;
}
