section.connections
 
  .connection-options
    .heading
      .large-icon.ss-icon folder
      h2 Local Connection
    .option
      input.path(type="text", placeholder="/path/to/database")
      input.openDirectory(type="button", value="Open")

    .heading
      .large-icon.ss-icon cloud
      h2 Network Connection
    .option
      input.host(type="text" placeholder="tcp://127.0.0.1:8001")
      input.openConnection(type="button", value="Connect")

