section.put
  .controls
    .control
      input.save(type="button", value="Save")
    .control
      input.keyEncoding(type="text", placeholder="Key Encoding")
    .control
      input.valueEncoding(type="text", placeholder="Value Encoding")
  .key
    textarea.codemirror
  .value
    textarea.codemirror

