section.put
  .controls
    .control
      input(type="button", value="Save")
    .control
      input(type="text", placeholder="Key Encoding")
    .control
      input(type="text", placeholder="Value Encoding")
  .key
    textarea.codemirror
  .value
    textarea.codemirror

