section.put
  .controls.top
    .control
      input.keyEncoding(type="text", placeholder="Key Encoding")
    .control
      input.valueEncoding(type="text", placeholder="Value Encoding")
    .control
      input.save(type="button", value="Save")
    .control
      input.clear(type="button", value="Clear")
  .key
    textarea.codemirror
  .value
    textarea.codemirror

