section.query
  .controls
    .control
      input.upperbound(type="text" placeholder="Upper Bound")
    .control
      input.lowerbound(type="text" placeholder="Lower Bound")
    .control
      input(type="checkbox", id="reverse", name="reverse")
      label.reverse.custom-checkbox(for="reverse") Reverse
    .control
      input.limit(name="limit" type="text")
    .control
      input.delete(type="button" value="Delete", disabled)
  .results
    .keys
      select(multiple)
        option key.namea
        option key.nameb
        option key.namec
    .split
    .value
      textarea.codemirror

