section.query

  .controls.top
    .control
      input.upperbound(type="text" placeholder="Upper Bound")
    .control
      input.lowerbound(type="text" placeholder="Lower Bound")
    .control
      input.limit(name="limit" type="text")
    .control
      input.ss-icon.reverse(type="button" value="navigatedown", title="Reverse")
    .control
      input.ss-icon.delete(type="button" value="trash", disabled, title="Delete")
    .control
      input.ss-icon.sublevels(type="button" value="folder", title="Sublevels")

  .tree-container
    .tree
      input#root(type="checkbox")
      label(for="root") Root
      ul.root

  .results
    .keys
      select(multiple)
    .split
    .value
      textarea.codemirror

